<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Página Aleatoria</title>
</head>
<body>
    <div class="container">
        <div id="random-text">Texto aleatorio</div>
        <div class="buttons">
            <button id="like-button">Si Gutar todo</button>
            <button id="dislike-button">No gutar nada</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
