body {
    font-family: Arial, sans-serif;
    
    text-align: center;
    transition: background-color 0.5s;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width:15%;
    transition: background-color 0.5s, transform 0.3s;
}

#random-text {
    font-size: 24px;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.buttons button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#like-button {
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s;
}

#dislike-button {
    background-color: #f44336;
    color: #fff;
    transition: background-color 0.3s;
}

#like-button:hover, #dislike-button:hover {
    transform: scale(1.1);
}

